body{margin:0;padding:0;}

#rsg{
	display: grid;
	grid-template-columns: min-content auto auto;
	grid-gap:8px;
	margin:8px;
}
#action{
	width: 100%;
	min-width: 50px;
}
#game{
	width:100%;
} 

.button{
	margin:10px;
	padding:8px;
}

.liste{
	display:flex;
	/* flex-direction: row;
	background-color:yellow; */
}


