.sidenav1 {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	/* background-color: #082a44; */
	overflow-x: hidden;
	text-align: left;
}

.sidenav1 a {
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	font-size: 16px;
	color: #c4c3c3;
	overflow: hidden;
	display: block;
	cursor: pointer;
}

.sidenav1 a:hover {
	color: white;
	font-size: 20px;
	/* color: #f1f1f1; */
}
.sidenav1 .selected {
	color: white;
	font-size: 20px;
	/* color: #f1f1f1; */
}
